
html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.6;
    color: #432;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    margin-top: 36px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color:#432;
}
.main-nav a:hover{
    color: #0bd;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.home-content{
    text-align: center;
    margin-top: 80px;
}
.home-content p{
    font-size: 1.25rem;
    margin: 10px 0 42px;
}
.page-title{
    font-size: 3.5rem;
    
    font-weight: normal;
}
.button{
    font-size: 1.5rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover{
    background: #0090aa;
}
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home{
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
}

#news{
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title{
    text-align: center;
}
footer{
    background: salmon;
    text-align: center;
    padding: 26px 0;
}
footer p{
    color:#fff;
    font-size: 1rem;
}
article{
    width: 74%;
}
aside{
    width: 22%;
}
.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.post-info{
    position: relative;
    padding-top: 5px;
    margin-bottom: 40px;
}
.post-date{
    background: #0bd;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
    color:#fff;
}
.post-date samp{
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255, .5)solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.post-title , .post-cat{
    margin-left: 120px;
}
.page-title{
    font-size: 2rem;
    margin-top: 20px;
}
article img{
    margin-bottom: 20px;
}
article p{
    margin-bottom: 1rem;
}
.sub-title{
    font-size: 1.3rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
aside p{
    padding: 10px 10px;
}
.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li{
    border-bottom: 1px #0bd solid;
}
.sub-menu a {
    color:#432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover{
    color:hotpink;
}
@media (max-width : 600px) {
    h1{
        color:#0bd;
    }
    .page-title{
        font-size: 2.5rem;
    }
    .main-nav{
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li{
        margin: 0 20px;
    }
    .home-content{
        margin: 20%;
    }
    .page-header{
        flex-direction: column;
        align-items: center;
    }
    .news-contents{
        flex-direction: column;
    }
    article , aside{
        width: 100%;
    }
    .menu-content{
        margin-top: 15%;
    }
    .grid{
        display: grid;
        gap: 26px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: 6%;
        margin-bottom: 50px;
        border-radius: 10px;
    }
}
#menu{
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}
.menu-content{
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title{
   text-align: center;
}
.menu-content p{
    font-size: 1.5rem;
    margin: 10px 0 0;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  .grid img{
    border-radius: 10px;
  }



























